.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background: #000;
}

.nav_toggle {
  font-size: 1.5rem;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav_toggle:hover {
  color: grey;
}

.logo {
  height: 40px;
}

ul {
  list-style-type: none;
}

a {
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}

a:hover {
  background: black;
  color: grey;
}

.links_container {
  display: block;
  height: 0rem;
  overflow: hidden;
  transition: all 0.3s linear;
  min-width: 50%;
  float: right;
  background-color: black;
  border-radius: 0 0 0 5px;
  font-size: 1.25rem;
}

.links_container * {
  text-decoration: none;
}

.show_links {
  height: auto;
}

.sign_in {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  max-width: fit-content;
  margin: 1rem;
}

@media screen and (min-width: 800px) {
  .nav_center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
  }
  .nav_header {
    padding: 0;
  }
  .nav_toggle {
    display: none;
  }
  .links_container {
    min-width: max-content;
    display: flex;
    height: auto !important;
    padding: 0;
  }
  ul {
    display: flex;
  }
  a {
    padding: 0;
    margin: 0 0.5rem;
    font-size: 1rem;
  }
  a:hover {
    padding: 0;
    background: transparent;
  }
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sign_in {
    border: 1px solid #e3e3e3;
    padding: 5px;
    border-radius: 5px;
    margin: 0 1rem;
    max-width: none;
  }
}
