nav {
  background: #000;
  height: 80px;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  color: grey;
}

.logo {
  height: 40px;
}

.links a {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}

.links a:hover {
  background: black;
  color: grey;
  padding-left: 1.5rem;
}
.login-register {
  display: none;
}

/* by default hide links */
.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
/* Toggle class */

.show-links {
  height: 10rem;
}

@media screen and (min-width: 768px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .login-register {
    display: flex;
  }
  .login-register a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .login-register a:hover {
    color: var(--clr-primary-7);
  }
}
